<!DOCTYPE html>
<html>

<head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet"  href="./css/style.css">
        <script src="/js/app.js"></script>
</head>
<body>
<div class="main-content">
{{>header}}
<p>This site was created by umashankar , It uses data from Mapbox.com and darksky.net.</p>
<img class="portrait" src="/img/Globe.jpeg">
</div>
{{>footer}}
</body>

</html>
