<!DOCTYPE html>
<html>

<head>
    <title>HTTP 404</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
         {{>header}}
    {{>HTTP404Error}}
    </div>
      {{>footer}}
  </body>
</html>
